<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Sign In</ion-button>
        <a >Forgot Password?</a>
      </ion-col>
    </ion-row>
  </form>
</ion-content>















<!-- <ion-app>
  <ion-header>
    <ion-toolbar >
      <ion-title color="primary">GG products</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <form>
      <ion-item >
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>
      <ion-item >
        <ion-label position="floating">password</ion-label>
        <ion-input type="email" required></ion-input> </ion-item
      ><br />
      <div class="forgot-password">
        <a>Forgot your password?</a>
      </div>
    </form>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-button shape="round" color="light" routerLink="/home">
        <ion-icon name="arrow-back" color="primary"></ion-icon>
        BACK
      </ion-button>
      <ion-button shape="round" color="light">
        LOG IN
        <ion-icon name="arrow-forward" color="primary"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-app>


 -->
