.img-area {
  height: 35vh;
  margin: 4vh auto 0;
  max-width: 600px;

  .img-container {
    height: 35vh;
    max-width: 600px;
    margin: 0 0 0 7%;

    img {
      display: block;
      width: auto;
      height: 100%;
    }


  }
}

.already{
  padding-left: 46%;
}

.or{
  padding-left: 49%;
}

.pro{
  margin-top: 30px;
  padding-left: 40%;
  font-size: 50px;
  font-family: cursive;
}


